body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #212121;
    background-color: #FFFFFF;
}

:root {
    --main-title-color: #212121;
    --secondary-title-color: #FFFFFF;
    --main-btn-color: #2196F3;
    --about-text-color: #757575;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid tomato;
}

.main-navigation {
    margin-left: 93px;
    display: flex;
    align-items: center;
}

.header-navigation {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 50px;

}

.header-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-list {
    gap: 50px;
}

.header-list .nav-link.current {
    color: var(--main-btn-color);
}

.container-items {
    display: flex;
    justify-content:center;
    gap: 8px;
}


.logo-link {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
    }

    .logo-header {
        font-family: 'Raleway';
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        color: var(--main-title-color);
        }
        
        .logo-header-footer {
            font-family: 'Raleway';
            font-size: 26px;
            line-height: calc(31 / 26);
            letter-spacing: 0.03em;   
        color: var(--secondary-title-color);
        }
        
        .logo-studio {
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        
        color: var(--secondary-title-color);
        }
        
        .nav-link,
        .link-logo-tel {
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--main-title-color);
        }

        .header-nav {
            margin-left: auto;
            display: flex;
            align-items: center;
            gap: 50px;
        }
        

        .link-mail, .link-logo-tel {
            font-weight: 500;
            line-height: calc(16 / 14);
            letter-spacing: 0.02em;
            color: var(--about-text-color);
        }

        .button {
        font-weight: 500;
        font-size: 16px;
        line-height: calc(26 / 16);
        text-align: center;
        letter-spacing: 0.03em;
        border: none;
        height: 38px;
        color: #212121;
        background-color: #F5F4FA;
        }

        .button:hover, :focus {
            background-color: var(--main-btn-color);  
        }
        .nav-link:hover, :focus {
            color: var(--main-btn-color);
        }
        .link-logo-tel:hover, :focus {
            color: var(--main-btn-color)
        }
        .link-mail:hover, :focus {
            color: var(--main-btn-color);
        }
        .footer-adress:hover, :focus {
            color: var(--main-btn-color)
        }
        .footer-tel:hover, :focus {
            color: var(--main-btn-color)
        }
        .footer-mail:hover, :focus {
            color: var(--main-btn-color)
        }

        .footer {
            background-color: var(--main-title-color);
        }

        .main-section {
            background-color: #F5F5F5;
        }
         .selection-btn {
            background-color: #F5F4FA;
         }

         .nav-section {
            color: var(--main-title-color);
         }

         .container-title {
            display: flex;
            flex-wrap: wrap;
            
            margin-bottom: 30px;
            gap: 30px;
            background-color: teal;
         }
        
         .project-title {
            font-weight: 700;
            font-size: 18px;
            line-height: calc(36 / 18);
            letter-spacing: 0.06em;
            color: var(--main-title-color);
         }

         .project-text {
            font-size: 16px;
            line-height: calc(30 / 16);
            letter-spacing: 0.03em;
            color: var(--about-text-color);
         }

         .footer-adress {
            line-height: 24px;
            letter-spacing: 0.03em;

            color: #FFFFFF
         }

         .footer-mail, .footer-tel {
            line-height: 24px;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.6);
         }

        